#principal {
    padding: 15px;
    background-color: gray;
    margin: 10px;
    #carouselExampleCaptions{
        .carousel-inner{
            p a {
                background-color: $color2;
                text-decoration: none;
                border: solid 1px white;
                padding: 7px 12px;
                color: $color1;
                font-size: 25px;
            }
            p a:hover {
                background-color: $color1;
                color: black;
            }

        }
    }
}